header {
	width: 100%;
	height: 72px;
	margin-bottom: 20px;
}
div.header_text {
	font-family: 'Arvo', serif;
	font-weight: bold;
	position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
	font-size: 30px;
	color: #ff5252;
}

nav {
	position: relative;
	margin-top:24px;
}

div.nav_text {
	margin: 12px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #666666;
	transition: color background-color;
	transform: scale();
}

div.nav_text:hover {
	color: #ff5252;
	transform: scale(1.2);
/*	background-color: #999999;*/
}

div.content_text {
	position: relative;
	margin-top: 24px;
	margin-left: 84px;
	padding: 48px;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #666666;
}

footer {
	width: 100%;
	height: 48px;
	margin-top: 20px;

}

div.footer_text {
	font-family: 'Arvo', serif;
    text-align: center;
    width: 100%;
	font-size: 12px;
	color: #333333;

}
